html,body{
    margin: 0;
    padding: 0;
    width:100%;
    height:100%;
    background-color:burlywood;
}

#box{
    
    background: whitesmoke;
    width: 50%;
    height: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%); 
    top : 20%;
    box-sizing : border-box;
    border: 5px solid transparent;
    border-image: repeating-linear-gradient(
        45deg,
        plum 0,
        plum 50px,
        transparent 50px,
        transparent 60px
    ) 1 round;
    background-clip: padding-box;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align : center ;
    color:skyblue;
}

p{
    font-family:'Times New Roman', Times, serif;
    text-align: center ;
    color: black;
    font-size: x-large;
}